<nav class="light-blue" role="navigation">
  <div class="nav-wrapper container">
    {{link-to "CREapp" "application" class="brand-logo"}}
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
{{md-modal-container}}
